.log_box_header {
	overflow: auto;
	height: 7%;
	color: #fff;
	display: flex;
}

.log_box_header p {
	font-size: 1rem;
	text-align: center;
}

.one {
	position: relative;
	width: 10%;
}

.two {
	width: 20%;
}

.three {
	width: 10%;
}

.four {
	width: 20%;
}

.five {
	width: 10%;
}

.six {
	width: 25%;
}

.seven {
	display: flex;
	text-align: center;
	width: 10%;
}
