.log_wrap {
	margin: 0 auto;
	width: 90vw;
	height: 75vh;
}
.log_box {
	overflow: auto;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	border: 5px solid #00adc7;
	background-color: rgb(243, 243, 243);
}
